<%-include('partials/head', {title: 'Random'}) %> <%-include('partials/navbar') %>

    <h1>Your random number is:<%= number %></h1>
    <p><%= isEvenOrOdd %></p>
    <%-include('partials/footer') %>
