<%-include('partials/head', {title: data.name}) %> <%-include('partials/navbar') %>

<section class="container">
	<h1>You are viewing the <%= data.name %> subreddit</h1>
	<h2><%=data.description%></h2>
	<p><%= data.subscribers %> Total Subscribers</p>
	<article>
		<% for(let post of data.posts){ %><%= post.title %>-<b
			><%= post.author %></b
		>
		<% if (post.img) { %>
		<img src="<%= post.img %>" />
		<% } %><br />
		<% } %>
	</article>
</section>
<%-include('partials/footer') %>
